* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 800px;
    border: 1px solid black;
    gap: 20px;
}
.search-bar {
    position: relative;
}
.search-bar input {
    margin: 0 10px;
    width: 180px;
    padding: 5px;
}
.search-bar button {
    position: absolute;
    right: 0;
    padding: 5px;
    background: green;
    color: white;
    outline: none;
    border: none;
}

.table-search {
    margin: auto;
}
.table-search table {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    border-bottom: 1px solid black;
     padding: 7px 20px;
}
td {
    padding: 12px;
}
