* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}
.container {

    width: 80%;
    display: flex;
    gap:20px;
    flex-direction:row;
    flex-wrap: wrap;
    margin:20px auto;
}
.product-card {
    width: calc((100% - 60px) / 4);
    box-shadow: 0 0 5px #ccc;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.product-card:hover {
    scale: 1.05;
    cursor: pointer;
}
img {
    object-fit: contain;
    width: 100%;
    height: 200px;
    align-self: center;
}
.description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 10px;
    line-height: 1.3;
    min-height: calc(1.3rem * 2);
}
.price {
    line-height: 1.8em;
    color: #73db32;
    font-weight: 600;
}
.description {
    font-size: 12px;
    line-height: 1.3;
}
.category {
    font-size: 10px;
    margin: 10px 0;

}
.rating {
    font-size: 11px;
    color: darkorange;
}