nav {
    display: flex;
    padding:20px 50px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img:nth-of-type(1) {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}
.logo img:nth-of-type(2){
    width: 199.414px;
    height: 19.8px;
    flex-shrink: 0;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
.nav-menu ul li {
    list-style: none;
}
.nav-menu ul li:nth-of-type(1) button {
    display: flex;
    height: 46px;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: none;
}
.nav-menu ul li:nth-of-type(2) button {
    display: flex;
    height: 46px;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: none;
}
.nav-menu ul li:nth-of-type(3) button {
    display: flex;
    height: 46px;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: none;
}
.button-sign-up {
    display: flex;
    height: 60px;
    padding: 0 30px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.icon-nav {
    display: none;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
@media screen and (max-width: 991px) {
    .logo img:nth-of-type(1) {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
    }
    .logo img:nth-of-type(2){
        width: 149.56px;
        height: 14.85px;
        flex-shrink: 0;
    }
    .nav-list {
        display: none;
    }
    .nav-menu button {
    display: none;}
    .icon-nav {
        display: block;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .navbar {
        display: flex;
        padding: 15px 50px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }
    .icon-nav {
        display: flex;
        padding: 15px 50px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        width: 24px;
        height: 24px;
    }
}
@media screen and (max-width: 767px) {
    .navbar {
        display: flex;
        padding: 15px 30px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }
}