.ntf-highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    background: url(../img/img-ntf-highlight/NFT-Highlight.png) lightgray 50% / cover no-repeat;
}
.highlight-info {
    display: flex;
    padding: 360px 195px 60px 195px;
    justify-content: center;
    align-items: flex-end;
    align-self: stretch;
    background: linear-gradient(180deg, rgba(162, 89, 255, 0.00) 0%, #A259FF 100%);
}
.frame-240 {
    display: flex;
    width: 1050px;
    justify-content: center;
    align-items: flex-end;
}
.frame-240-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex: 1 0 0;
}
.frame-card {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background: #3B3B3B;
}
.avatar-frame-card {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 120px;
    background: url(../img/img-ntf-highlight/ntf-avatar.png) lightgray 50% / cover no-repeat;
}
.frame-240-left button {
    display: flex;
    height: 60px;
    padding: 22px 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background: #FFF;
    border: none;
}
.frame-240-left button span {
    color: #2B2B2B;
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
}
.frame-240-right {
    display: flex;
    max-width: 295px;
    padding: 30px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(59, 59, 59, 0.50);
    backdrop-filter: blur(5px);
}
.timer {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.timer-hours {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    flex: 1 0 0;
}
.timer h3 {
    font-size: 38px;
    font-weight: 700;
    line-height: 120%;
}
.timer p {
    flex-direction: column;
    flex: 1 0 0;
    align-self: stretch;
    font-size: 12px;
    font-weight: 400;
    line-height: 110%;
}
.timer h4 {
    font-size: 28px;
    line-height: 140%
}
.timer-minutes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    flex: 1 0 0;
}
.timer-second {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    flex: 1 0 0;
}
.frame-240 h2:nth-child(3){
    display: none;
}
@media screen and (max-width: 991px) {
    .frame-240 {
        min-width: 670px;
    }
    .frame-240-left h2 {
        font-size: 38px;
        line-height: 120%;
    }
    .frame-240-right {
        width: 295px;
        padding: 30px;
        gap: 10px;
    }
    .frame-240-right h3 {
        font-size: 38px;
        font-weight: 700;
    }
    .frame-240-right h4 {
        font-size: 28px;
    }
}
@media screen and (max-width: 767px) {
    .ntf-highlight {
        background: url(../img/img-ntf-highlight/ntf-mobile.png) lightgray 50% / cover no-repeat;
    }
    .highlight-info {
        padding: 120px 0 40px 0;
    }
    .frame-240 {
        width: 315px;
        flex-direction: column;
        align-items: center;
    }
    .frame-240-left button {
        display: none;
    }
    .frame-240 h2:nth-child(2) {
        display: none;
    }
    .frame-240 h2:nth-child(3){
        display: block;
        margin-bottom: 10px;
    }
    .button-ntf {
        display: flex;
        height: 60px;
        width: 315px;
        padding: 22px 50px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border-radius: 20px;
        background: #FFF;
        border: none;
        margin-top:30px;
    }
    .button-ntf span {
        color: #2B2B2B;
        text-align: center;
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
    }
}