* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

.primary-background-color {
    background-color: #2B2B2B;
}
body {
    background-color:#2B2B2B ;
}
.primary-color {
    color: white;
}
.secondary-button {
    display: inline-flex;
    height: 60px;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #A259FF;
}
.secondary-button-outline {
    display: inline-flex;
    height: 60px;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 2px solid #A259FF;
    background: #2B2B2B;
}
.secondary-font-size {
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}
.font-size-h5 {
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 30.8px */
    text-transform: capitalize
}
.font-size-total {
    color: #858584;
    text-align: right;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    flex: 1 0 0;
}
.font-size-Space-Mono {
    color: #FFF;
    font-family: "Space Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    flex: 1 0 0;
}
.font-size-h2 {
    color:#FFF;
    font-family: "Work Sans";
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 45.6px */
    text-transform: capitalize;
}
.font-size-16 {
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}
.font-size-22 {
    color:  #FFF;
    font-family: "Work Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 35.2px */
    text-transform: capitalize;
}
.font-size-12 {
    font-size: 12px;
}
.font-h2 {
    color: #FFF;/
    font-family: "Work Sans";
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 45.6px */
    text-transform: capitalize;
    flex: 1 0 0;
    align-self: stretch;
}
.font-size-h5-footer {
    color: #FFF;
    font-family: "Space Mono";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    text-transform: capitalize;
}
.font-size-16-footer {
    color: #CCC;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.size-person {
    width: 20px;
    height: 20px;
}
button   {
    outline: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}
input {
    outline: none;
    border: none;
}
button:hover {
    transform: scale(1.05);
}
a {
    text-decoration: none;
    transition: transform 0.3s;
}
a:hover {
    transform: scale(1.05);
}
