.trending-section {
    display: flex;
    padding: 80px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    align-self: stretch;
}
.trending-headline {
    display: flex;
    width: 1050px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.headline-heading {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.headline-heading h2 {
    color: #FFF;/
    font-family: "Work Sans";
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 45.6px */
    text-transform: capitalize;
}
.headline-subhead {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.headline-subhead p {
    color:#FFF;
    font-family: "Work Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 35.2px */
    text-transform: capitalize;
}
.trending-card-row {
    display: flex;
    width: 1050px;
    align-items: flex-start;
    gap: 30px;
}
.trending-card {
    display: flex;
    width: calc((100% - 60px)/3);
    flex-direction: column;
    align-items: flex-start;;
    border-radius: 20px;
    gap: 30px;
}
.trending-card-image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}
.trending-background-1 {
    height: 330px;
    align-self: stretch;
    border-radius: 20px;
    background:url(../img/trending-img/trending-img1.png) lightgray 50% / cover no-repeat;
}
.trending-card-element {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    gap: 15px;
}
.background-section-2 {
    height: 100px;
    width: calc((100% - 40px)/3);;
    border-radius: 20px;
    background: url(../img/trending-img/trending-img2.png) lightgray 50% / cover no-repeat;
}
.background-section-3 {
    height: 100px;
    width: calc((100% - 40px)/3);
    border-radius: 20px;
    background: url(../img/trending-img/trending-img3.png) lightgray 50% / cover no-repeat;
}
.trending-card-about {
    display: flex;;
    height: 100px;
    width: calc((100% - 40px)/3);
    padding: 32px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #A259FF;
}
.trending-card-about h5 {
    color: #FFF;
    text-align: center;
    font-family: "Space Mono";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 35.2px */
    text-transform: capitalize;
}
.trending-background-4 {
    height: 330px;
    align-self: stretch;
    border-radius: 20px;
    background:url(../img/trending-img/trending-img5.png) lightgray 50% / cover no-repeat;
}
.background-section-5 {
    height: 100px;
    width: calc((100% - 40px)/3);
    align-items: flex-start;
    border-radius: 20px;
    background: url(../img/trending-img/trending-img4.png) lightgray 50% / cover no-repeat;
}
.background-section-6 {
    height: 100px;
    width: calc((100% - 40px)/3);
    align-items: center;
    border-radius: 20px;
    background: url(../img/trending-img/trending-img6.png) lightgray 50% / cover no-repeat;
}
.trending-background-7 {
     height: 330px;
     align-self: stretch;
     border-radius: 20px;
     background:url(../img/trending-img/trending-img7.png) lightgray 50% / cover no-repeat;;
 }
.background-section-8 {
    height: 100px;
    width: calc((100% - 40px)/3);
    border-radius: 20px;
    background: url(../img/trending-img/trending-img8.png) lightgray 50% / cover no-repeat;
}
.background-section-9 {
    height: 100px;
    width: calc((100% - 40px)/3);
    border-radius: 20px;
    background: url(../img/trending-img/trending-img9.png) lightgray 50% / cover no-repeat;
}
.trending-card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.trending-card-text h5 {
    color: #FFF;
    font-family: "Work Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 30.8px */
    text-transform: capitalize;
    align-self: stretch;
}
.trending-artist-text {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.trending-artist-text p {
    color: #FFF;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}
/*Reponsive cho table va mobile*/
@media screen and (max-width: 1025px) {
    .trending-section {
        padding: 40px 0;
    }
    .trending-headline {
        width: 690px;
    }
    .headline-heading h3 {
        font-size: 28px
    }
    .headline-subhead p {
        font-size: 16px;
    }
    .trending-card-row {
        width: 690px;
        flex-wrap: wrap;
    }
    .trending-card {
        width: 330px;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
}
@media screen and (max-width: 767px) {
    .trending-headline {
        width: 315px;
    }
    .trending-card-row {
        flex-direction: column;
        width: 315px;
    }
    .headline-heading h2 {
        font-size: 28px;
    }

}